@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h2> Il n'y a pas de quiz pour cette categorie</h2>
    </div>
</body>
</html>
